<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="PIS_Readonly"
     connectionString="Data Source=ACLSQL6\SQL2008R2;Failover Partner=ACLSQL7\SQL2008R2;initial catalog=PIS;User Id=corpWebApp;Password=c0rpwebuser;Application Name=Adv_PIS_Readonly;"
     providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>
